# Flask Security
SECRET_KEY=your-super-secret-key-change-this-in-production

# Database
DATABASE_URL=sqlite:///wigstore.db

# Admin Login
ADMIN_EMAIL=sokwilliams22@gmail.com
ADMIN_PASSWORD=admin123

# Monnify API (TEST MODE for now)
MONNIFY_API_KEY=MK_TEST_B8SB2UHJ78
MONNIFY_SECRET_KEY=B0WCBBBUFAXWMZZXAG0XTT3RBXPM3N8J
MONNIFY_CONTRACT_CODE=8209812860
MONNIFY_BASE_URL=https://sandbox.monnify.com

# WhatsApp
WHATSAPP_PHONE_NUMBER=+2348108332873

# Uploads
UPLOAD_FOLDER=static/uploads
